---
import Layout from '@/layouts/main.astro';
import { SearchBar } from '@/components/react/search-bar';
// import Pagination from '@/components/pagination.astro';
// import type { Anime, Manga, Character, Pagination as IPagination } from '@/lib/types';

// let data: {
//   data: (Anime | Manga | Character)[];
//   pagination: IPagination;
// } = {
//   data: [],
//   pagination: {
//     current_page: 1,
//     has_next_page: false,
//     last_visible_page: 1,
//     items: {
//       count: 0,
//       total: 0,
//       per_page: 0,
//     },
//   },
// };
---

<Layout title="Search">
  <div class="h-full max-w-3xl mx-auto mt-[10vh]">
    <div class="text-black">
      <h1 class="text-4xl font-geist-sans font-medium text-center">Explore</h1>
      <p class="text-zinc-500 text-lg mt-4 font-inter text-center">
        Discover your favorite anime and manga titles. Enter a keyword or title
        to begin your search.
      </p>
      <SearchBar client:only="react" />
    </div>
  </div>
</Layout>
