---
import Layout from '@/layouts/main.astro';
import AnimeCard from '@/components/anime-card.astro';
import MangaCard from '@/components/manga-card.astro';
import CharacterCard from '@/components/character-card.astro';
import Pagination from '@/components/pagination.astro';
import type { Anime, Manga, Character, Pagination as IPagination } from '@/lib/types';
import { createAnimeApiUrl } from '@/lib/parse-queries';
import { apiFetch } from '@/lib/utils/fetch';

// let errorType: string;
let data: {
  data: (Anime | Manga | Character)[];
  pagination: IPagination;
} = {
  data: [],
  pagination: {
    current_page: 1,
    has_next_page: false,
    last_visible_page: 1,
    items: {
      count: 0,
      total: 0,
      per_page: 0,
    },
  },
};
const url = new URL(Astro.request.url);
const animeApiUrl = createAnimeApiUrl(url);

const res = await apiFetch(animeApiUrl);
if (res.success) {
  data = res.data;
}
const session = await Astro.locals.auth.validate();
const userId = session?.user?.id || Astro.cookies.get('guest_id')?.value!;
let userType: 'signed-in' | 'guest' = 'signed-in';
if (!session?.user?.id) {
  userType = 'guest';
}
---

<Layout title={url.searchParams.get('q') ?? ''}>
  <div>
    <p class="text-black text-lg mt-4 ml-10">
      Search results for {url.searchParams.get('q')}
    </p>
  </div>
  <div class="grid auto-fill-grid">
    {
      data.data.length ? null : (
        <p class="text-black ml-10">Hello darkness my old friend...</p>
      )
    }
    {
      data.data.map((item) => {
        if ('episodes' in item) {
          return (
            <AnimeCard
              anime={item as Anime}
              userId={userId}
              userType={userType}
            />
          );
        } else if ('volumes' in item) {
          return <MangaCard manga={item as Manga} />;
        } else {
          return <CharacterCard character={item as Character} />;
        }
      })
    }
  </div>
  <div class="text-black flex justify-center mt-10">
    <Pagination
      value={data.pagination.current_page}
      count={data.pagination.last_visible_page || 0}
      url={url}
    />
  </div>
</Layout>
