---
import AuthLayout from "@/layouts/auth.astro";
import AuthInput from "@/components/auth-input.astro";
import AuthButton from "@/components/auth-button.astro";
import { Icon } from "astro-icon";
import { z } from "zod";
import { db } from "@/lib/db/pool";
import { user } from "@/lib/db/schema";
import { eq } from "drizzle-orm";
let errorMessage = "";

const session = await Astro.locals.auth.validate();
if (!session) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: "/auth/signin",
    },
  });
} else if (session.user.username) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: "/",
    },
  });
}
if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const usernameResult = z
    .string()
    .min(3, "Username must be 3 length minimum")
    .safeParse(formData.get("username"));
  if (!usernameResult.success) {
    errorMessage = usernameResult.error.message;
  } else {
    try {
      await db
        .update(user)
        .set({ username: usernameResult.data })
        .where(eq(user.id, session.user.userId));
      return new Response(null, {
        status: 302,
        headers: {
          Location: "/",
        },
      });
    } catch (err) {
      console.error(err);
      errorMessage = "User already created";
    }
  }
}
---

<AuthLayout title="Sign in">
  <div
    class="max-w-[448px] w-full mx-auto rounded-md px-8 py-14 shadow-2xl bg-white"
  >
    <h1 class="text-lg mb-6 font-medium">Create Profile</h1>
    <div class="w-[120px] h-[120px] mx-auto relative">
      <input
        type="file"
        class="hidden"
        id="profile-photo"
        name="profile-photo"
      />
      <Icon name="mdi:account-circle" class="w-[120px] text-neutral-400" />
      <label for="profile-photo">
        <span
          class="w-[100px] h-[100px] rounded-full bg-black absolute top-[10px] left-[10px] opacity-0 hover:opacity-100 bg-opacity-0 hover:bg-opacity-30 z-50 grid place-items-center cursor-pointer"
        >
          <div>
            <Icon name="mdi:camera" class="w-6 text-neutral-100 mx-auto" />
            <span class="text-sm text-white">EDIT</span>
          </div>
        </span>
      </label>
    </div>
    <form method="POST">
      <AuthInput
        required
        minlength="3"
        placeholder="Lotuspixie"
        label="Username"
        id="username"
        name="username"
      />
      <div class="text-red-500 text-sm my-2">{errorMessage}</div>
      <AuthButton>Create</AuthButton>
    </form>
  </div>
</AuthLayout>
