---
import Icon from "astro-icon";
import { SelectSearchType } from './solid/select-search-type'
---
<form>
<div class="flex relative">
  <SelectSearchType options={['all', 'anime', 'manga', 'character']} client:load />
  <input name="search-text"
      class="flex border border-input bg-transparent px-3 py-2 file:border-0 file:bg-transparent file:text-sm placeholder:text-[14px] file:font-medium focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50 placeholder:text-gray-500 w-full min-w-[100px] max-w-[288px] h-10 text-[14px] border-l-0 text-gray-500"
      placeholder="Search..." />
  <button class="inline-flex overflow-hidden relative items-center justify-center transitions-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none text-sm font-montserrat font-semibold text-white bg-neutral-800 hover:bg-neutral-900 rounded-none h-10 w-12 rounded-r-md p-0 flex-none">
    <Icon pack="ic" name="twotone-search" class="w-5" />
    </button>
</div>
  <div>
    <p class="text-black">Filters:</p>
    <SelectSearchType name="type" standalone options={['all','tv', 'movie', 'ova', 'special', 'ona', 'music']} client:load />
    <SelectSearchType name="status" standalone options={['all', 'airing', 'complete', 'upcoming']} client:load />

    <SelectSearchType name="type" standalone options={['all', 'manga', 'novel', 'lightnovel', 'oneshot', 'doujin', 'manhwa', 'manhua']} client:load />
    <SelectSearchType name="status" standalone options={['all', 'publishing', 'complete', 'hiatus', 'discontinued', 'upcoming']} client:load />
      </div>
</form>
  <style>
    .remove-icon {
      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari and Chrome */
      appearance: none;
    }
  </style>
