---
import Layout from '@/layouts/main.astro';
import AnimeCard from '@/components/anime-card.astro';
import MangaCard from '@/components/manga-card.astro';
import CharacterCard from '@/components/character-card.astro';
import Pagination from '@/components/pagination.astro';
import { type Anime } from '@/lib/schemas/anime';
import { type Manga } from '@/lib/schemas/manga';
import { type Character } from '@/lib/schemas/character';
import { createAnimeApiUrl } from '@/lib/parse-queries';
import { z } from 'zod';
import { paginationSchema } from '@/lib/schemas/pagination';

let errorType: string;
let data: {
  data: (Anime | Manga | Character)[];
  pagination: z.infer<typeof paginationSchema>;
} = {
  data: [],
  pagination: {
    current_page: 1,
    has_next_page: false,
    last_visible_page: 1,
    items: {
      count: 0,
      total: 0,
      per_page: 0,
    },
  },
};
const url = new URL(Astro.request.url);
const animeApiUrl = createAnimeApiUrl(url);

const res = await fetch(animeApiUrl);
if (!res.ok) {
  errorType = res.statusText;
} else {
  data = await res.json();
}
---

<Layout title={url.searchParams.get('q') ?? ''}>
  <div>
    <p class="text-black text-lg mt-4 ml-10">
      Search results for {url.searchParams.get('q')}
    </p>
  </div>
  <div class="grid auto-fill-grid">
    {
      data.data.length ? null : (
        <p class="text-black ml-10">Hello darkness my old friend...</p>
      )
    }
    {
      data.data.map((item) => {
        if ('episodes' in item) {
          return <AnimeCard anime={item as Anime} />;
        } else if ('volumes' in item) {
          return <MangaCard manga={item as Manga} />
        } else {
          return <CharacterCard character={item as Character} />
        }
      })
    }
  </div>
  <div class="text-black flex justify-center mt-10">
    <Pagination
      value={data.pagination.current_page}
      count={data.pagination.last_visible_page}
      url={url}
    />
  </div>
</Layout>
