---
import AnimeCard from '@/components/anime-card.astro';
import Layout from '@/layouts/main.astro';
import { getOrCreateUserId } from '@/lib/utils';
import { apiFetch } from '@/lib/utils/fetch';
const { userType, userId } = await getOrCreateUserId(Astro);
const url = new URL('http://localhost:3000/api/anime');
// const searchParams = new URLSearchParams();
url.searchParams.set('userType', userType);
url.searchParams.set('userId', userId);
url.searchParams.set('entityStatus', 'PLANNING');
url.searchParams.set('entityType', 'ANIME');

const animes = await apiFetch(url);
if (!animes.success) {
  console.error(animes.error);
}
---

<Layout title="Animes watching">
  <div class="text-black">asdhjsadkjsakdj sad ksajdjk sad kjsadjksadsk j</div>
  {
    animes.success && (
      <div class="grid auto-fill-grid">
        {animes.data.map(({ anime }: any) => (
          <AnimeCard anime={anime} userId={userId} userType={userType} />
        ))}
      </div>
    )
  }
</Layout>
